[Unit]
Description=PHP7
After=default.target network.target syslog.target

[Service]
User=root
Group=root
Type=forking
ExecStart=/usr/local/php7/sbin/php-fpm
PrivateTmp=true
Restart=always
RestartSec=5
StartLimitInterval=0

[Install]
WantedBy=multi-user.target

